<!DOCTYPE html>
<html> 
    <head>
        <title>Template base</title>
    </head>

    <body> 
        {% extends 'base.html' %}
        {% block content %}
            <h1>Hola Mundo desde Django</h1>
            <h2>Con template</h2>
            <p>
                {{myText}},
                {{myNumber}}
            </p>
            <ul>
                {% for myItem in myList %}
                    <li>{{ myItem }} - 
                        {{forloop.counterfirst}} -
                        {{forloop.counter}} -
                        {{forloop.revcounter}} -
                        {{forloop.revcounter0}} -
                        {{forloop.first}} -
                        {{forloop.last}} -
                        {{forloop.parentloop}}
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}
    </body>
</html>
