<!DOCTYPE html>
<html> 
    <head>
        <title>Template base</title>
    </head>

    <body> 
        {% extends 'base.html' %}
        {% block content %}
            <h1>Hola Mundo desde Django</h1>
            <h2>Con template</h2>
            <p>
                {{myText}},
                {{myNumber}}
            </p>
            <ul>
                {% for myItem in myList %}
                    <li>{{ myItem }} - {{forloop.counter}}
                    {% if myItem < 30 %}
                        -Este numero es menor que 30
                    {% elif myItem|divisibleby:2 %}
                        -Este numero es par
                    {% elif myItem|length <= 2 %}
                        -Este numero es de dos cifras
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}
    </body>
</html>
